.page-selector-container {
  font-size: var(--font-size-sm);
  font-weight: 400;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-selector {
  width: 370px;
  height: 326px;
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.all-pages-section {
  flex-shrink: 0;
}

.divider {
  height: 0.7px;
  background-color: var(--color-light-grey);
  margin: 8px 0 8px 0;
  flex-shrink: 0;
}

.page-list {
  flex: 1;
  overflow-y: auto;
  /* margin-bottom: 16px; */
  /* padding-right: 8px; */
}

.page-list::-webkit-scrollbar {
  width: 6px;
}

.page-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.page-list::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 10px;
}

.page-list::-webkit-scrollbar-thumb:hover {
  background: #9ca3af;
}

.page-item {
  padding: 10px 0;
}

.page-item label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.checkbox-wrapper {
  position: relative;
}

.page-item input[type="checkbox"] {
  display: none;
}

.checkmark {
  width: 23px;
  height: 23px;
  border: 1px solid var(--color-light-grey);
  border-radius: 6px;
  position: relative;
  transition: all 0.2s ease;
}

.checkmark.checked {
  background-color: var(--color-info);
  border-color: var(--color-info);
}

.checkmark-icon {
  position: absolute;
  left: 6px;
  height: 15.64px;
  width: 9px;
  border: 1px solid var(--background);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.checkmark-icon.indeterminate {
  position: absolute;
  left: 6px;
  height: 15.64px;
  width: 9px;
  border: 1px solid var(--background);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.page-item label:hover .checkmark {
  border-color: var(--color-grey);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
}

.page-item label:hover .checkmark.checked {
  border-color: var(--color-grey);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
  background-color: #2469F6;
}

.page-item label:hover .checkmark .checkmark-icon {
  position: absolute;
  left: 6px;
  height: 15.64px;
  width: 9px;
  border: 1px solid var(--color-secondary);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.page-item label:hover .checkmark.checked .checkmark-icon {
  position: absolute;
  left: 6px;
  height: 15.64px;
  width: 9px;
  border: 1px solid var(--background);
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}

.button-wrapper {
  padding: 10px 0px 10px 0px;
}